html,body{
    height:100%;
    width:100%;
}
*{
    margin:0;
    padding:0;
}
header{
    height:80px;
    display: flex;
    align-items: center;
    background-color: hotpink;

}
 nav {
    display: flex;
    flex: 0.6;
    justify-content: space-around;
    
}
main {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: mediumturquoise;
    
}
footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    
}
